{% macro checkboxSelect(config) %}
	{% include "postmaster/_includes/forms/checkboxSelect" with config only %}
{% endmacro %}

{% macro checkboxSelectField(config) %}
	
	{% import "_includes/forms" as forms %}

	{{ forms.field(config, _self.checkboxSelect(config)) }}

{% endmacro %}

{% macro select(config) %}

	{% include "postmaster/_includes/forms/select" with config only %}
	
{% endmacro %}

{% macro selectField(config) %}
	
	{% import "_includes/forms" as forms %}

	{{ forms.field(config, _self.select(config)) }}

{% endmacro %}
