{% import "_includes/forms" as forms %}
{% import "postmaster/_includes/forms" as postmaster %}

{{ postmaster.templateFields({
	section: 'notificationTypeSettings',
	name: 'default',
	settings: settings
}) }}

{{ forms.textareaField({
	label: "Extra Conditionals"|t,
	instructions: "What extra conditionals should be used to validate this parcel? Return `false` is you want to prevent the email from sending."|t,
	id: 'extraConditionals',
	name: 'settings[notificationTypeSettings][default][extraConditionals]',
	value: settings.extraConditionals,
	rows: 10
}) }}